.landing {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  animation: looping 10s infinite;
}

.text {
  font-size: 72px;
  font-weight: 900;
}
.retry {
  background-color: #6bb4ed;
  color: #fff;
  margin-top: 1rem;
  padding: 0 3rem;
}

@keyframes looping {
  from {
    background-color: deeppink;
  }

  to {
    background-color: teal;
  }
}
