@import '../../theme.less';

.settings {
  display: flex;
  flex-direction: column;
}

.body {
  box-sizing: border-box;
  padding: @gap-size;
}

.item {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  padding: @gap-size;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: @gap-size;
}

.picker {
  width: 100%;
}

.endpintRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.endpintIcon {
  display: inline-block;
  margin-left: @gap-size;
}

.name {
  font-size: 24px;
  font-weight: 500;
}
